/* HEADER */
/* ------ */
#header, #header * {
  /* remove border */
  border: none;
}
#header label {
  /* use full width */
  max-width: none;
}
header > a, #header ul a {
  /* use righteous (b) */
  font-family: 'Righteous', cursive;
  font-weight: bolder;
}
@media (min-width: 32rem) { header > a::after {
  /* use trailing text */
  content: ' | Indian Food Composition';
}}
html.index header > a {
  /* index: no navhead */
  visibility: hidden;
}


/* FOOTER */
/* ------ */
html {
  /* full height html */
  height: 100%;
}
body {
  /* full height body */
  position: relative;
  min-height: 100%;
}
footer {
  /* dont overflow */
  overflow: hidden;
  max-width: none;
}
footer a:not([class]):hover {
  color: yellow;
}
footer .end a {
  padding: 0 1rem;
}
@media (max-width: 50rem) { footer .end div[txt=r] {
  /* no splitting */
  text-align: left;
}}


/* MAIN */
/* ---- */
body, input, textarea, select, button {
  /* use righteous */
  font-family: 'Righteous', cursive;
}
h2 {
  /* good heading margin */
  margin: 10rem 0 4rem 0;
}
p, p:not([class]) {
  /* justify paragraph text */
  text-align: justify;
}
html.wide section, html.wide form {
  /* wide page */
  max-width: none;
  padding-top: 0;
  margin: 0;
}


/* LOGO */
/* ---- */
#logo {
  /* large logo */
  display: block;
  max-height: 20rem;
  margin: auto;
}
@media (max-height: 32rem) {
  /* squeeze in low space */
  #logo { margin-top: 0; }
}


/* TEXT INPUT */
#text {
  /* use box design */
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4em;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
#text:focus, #text:hover {
  /* keep text dark */
  color: darkblue;
}


/* IZITOAST */
.iziToast {
  /* use righteous */
  font-family: 'Righteous', cursive;
}


/* BUY */
#buy > a:hover {
  /* hover box */
  outline: 1px solid black;
}


/* TOOLTIP */
.tooltip {
  /* set size */
  width: 307px;
}
.tooltip > grid, .tooltip > table {
  /* no margin */
  margin: 0;
}
.tooltip > grid > div {
  /* no grid gap */
  padding: 0;
}
.tooltip img {
  /* small image */
  display: block;
  width: 153px;
  height: 86px;
}
.tooltip .info {
  /* fixed info */
  width: 154px;
  height: 86px;
  padding: 1rem;
  overflow: hidden;
  background: rgba(250,250,230,0.8);
  color: darkgrey;
  font-size: 1rem;
}
.tooltip .name {
  /* highlight name */
  font-size: 1.2rem;
  color: black;
}
.tooltip > table {
  /* enable wrapping */
  width: 100%;
  white-space: normal;
  font-size: 1rem;
}
.tooltip table th, .tooltip table td {
  /* no border */
  padding: 0.2rem;
  border: 0;
}
.tooltip table tr:nth-child(odd) {
  /* background for odd quantity */
  background: rgba(230,250,250,0.8);
}
.tooltip table tr:nth-child(even) {
  /* background for odd quantity */
  background: rgba(210,250,210,0.8);
}


/* TABLE */
.pretty {
  padding: 0 2rem;
}
/* fixed header */
.fixedHeader-floating {
  z-index: 1;
}
.sticky {
  background: white;
  position: fixed;
  z-index: 2;
  top: 0;
}
/* expand collapse icons */
tr.branch .indenter a {
  font-family: 'Batch';
}
tr.branch.collapsed .indenter a::before {
  content: "\F021";
}
tr.branch.expanded .indenter a::before {
  content: "\F022";
}
tr.branch.collapsed:hover .indenter a::before {
  content: "\F01D";
}
tr.branch.expanded:hover .indenter a::before {
  content: "\F01E";
}
