main {
  font-size: 1.5rem;
  background: lightgray url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png") fixed center;
}


footer::before {
  background: rgba(0,0,0,0.7);
  width: 98vw;
}
footer {
  text-align: center;
  padding: 6rem 0;
}
footer .low p {
  padding: 0;
  margin: 0;
}
