/* HEADER */
/* ------ */
#header, #header * {
  /* remove border */
  border: none;
}
#header label {
  /* use full width */
  max-width: none;
}
header > a, #header ul a {
  /* use righteous (b) */
  font-family: 'Righteous', cursive;
  font-weight: bolder;
}
@media (min-width: 32rem) { header > a::after {
  /* use trailing text */
  content: ' | Indian Food Composition';
}}
html.index header > a {
  /* index: no navhead */
  visibility: hidden;
}


/* FOOTER */
/* ------ */
html {
  /* full height html */
  height: 100%;
}
body {
  /* full height body */
  position: relative;
  min-height: 100%;
}
footer {
  /* dont overflow */
  overflow: hidden;
  max-width: none;
}
footer a {
  /* spaced links */
  padding: 0 1rem;
}
@media (min-height: 32rem) { html.index footer {
  /* fix to bottom */
  position: fixed;
  bottom: 0;
}
}
@media (max-width: 50rem) { footer div[txt=l], footer div[txt=r] {
  /* no splitting */
  text-align: left;
}}


/* MAIN */
/* ---- */
body, input, textarea, select, button {
  /* use righteous */
  font-family: 'Righteous', cursive;
}
h2 {
  /* good heading margin */
  margin: 10rem 0 4rem 0;
}
p, p:not([class]) {
  /* justify paragraph text */
  text-align: justify;
}
form {
  margin: 0 6rem;
}
form label:not([class]) {
  font-size: 1.4rem;
}


/* MAIN: WIDE */
html.wide section, html.wide form {
  max-width: none;
  padding-top: 0;
  margin: 0;
}


/* LOGO */
/* ---- */
#logo {
  display: block;
  margin: auto;
  max-height: 20rem;
}
@media (max-height: 32rem) {
  #logo { margin-top: 0; }
}
@keyframes opacity-blink {
  from { opacity: initial; }
  to { opacity: 0.5; }
}
#logo.active {
  animation: opacity-blink 1s infinite alternate;
}


/* TEXT INPUT */
#text {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4em;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
#text:focus {
  color: black;
}


#columns {
  padding: 2rem 0;
}
html.index main {
  padding-top: 2rem;
}
html.search #logo, html.search form > p {
  display:none;
}
html.search section, html.search form {
  max-width: none;
  margin: 0;
}
html.search #search {
  margin: 2rem 0;
  width: 100%;
}
html.read main {
  font-size: 2rem;
}
#search ~ button {
  z-index: 2;
  position: absolute;
  right: 0;
  margin: 3rem 2rem;
}
html.no-details #datatable tr a > small,
html.no-details #datatable tr a > img,
html.no-details #datatable tr a > div,
html.no-details #datatable tr a > br {
  display: none;
}


/* IZITOAST */
.iziToast {
  font-family: 'Righteous', cursive;
}


/* BUY */
#buy > a:hover {
  outline: 1px solid black;
}


/* TOOLTIP */
.tooltip {
  /* white border */
  width: 307px;
  padding: 1rem;
}
.tooltip > div {
  /* no grid gap */
  padding: 0;
  white-space: normal;
}
.tooltip img {
  display: block;
  width: 153px;
  height: 86px;
}
.tooltip .info, .tooltip .range {
  padding: 1rem;
  font-size: 1rem;
  background: yellow;
}
.tooltip .info {
  height: 5.2rem;
}
.tooltip .scie {
  font-size: 0.8rem;
}
.tooltip .range {
  background: lightyellow;
}


/* TABLE */
.pretty {
  padding: 0 2rem;
}
.fixedHeader-floating {
  z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  background: white;
  z-index: 2;
}
tr.branch .indenter a {
  font-family: 'Batch';
}
tr.branch.collapsed .indenter a::before {
  content: "\F021";
}
tr.branch.expanded .indenter a::before {
  content: "\F022";
}
tr.branch.collapsed:hover .indenter a::before {
  content: "\F01D";
}
tr.branch.expanded:hover .indenter a::before {
  content: "\F01E";
}
