<h5 txt="c">Lectures</h5>
<grid txt="c">
  {% for lec in site.data.lectures %}
  <div col="1/4"><a href="{{ lec.url }}">{{ lec.name }}<br><small>{{ lec.by }}</small></a></div>
  {% endfor %}
</grid>
<br><hr style="margin: 0 0 2rem 0;">
<h5 txt="c">Documentaries</h5>
<grid txt="c">
  {% for doc in site.data.documentaries %}
  <div col="1/4"><a href="{{ doc.url }}">{{ doc.name }}<br><small>{{ doc.by }}</small></a></div>
  {% endfor %}
</grid>
<br><hr style="margin: 0 0 2rem 0;">
<h5 txt="c">Books</h5>
<grid txt="c">
  {% for book in site.data.books %}
  <div col="1/4"><a href="{{ book.url }}">{{ book.name }}<br><small>{{ book.by }}</small></a></div>
  {% endfor %}
</grid>
<br><hr style="margin: 0 0 2rem 0;">
<h5 txt="c">Blogs</h5>
<grid txt="c">
  {% for blog in site.data.blogs %}
  <div col="1/4"><a href="{{ blog.url }}">{{ blog.by }}</a></div>
  {% endfor %}
</grid>
<br><hr style="margin: 0 0 2rem 0;">
<h5 txt="c">Food Recipes</h5>
<grid txt="c">
  {% for r in site.data.recipes %}
  <div col="1/6"><a href="{{ r.url }}">{{ r.name }}</a></div>
  {% endfor %}
</grid>
