<li>
  <a>About</a>
  <menu>
  <menuitem><a class="essential" href="/read/essential">Essential nutrients</a></menuitem>
  <menuitem><a class="ketogenic" href="/read/ketogenic">Ketogenic diet</a></menuitem>
  </menu>
</li>
<li>
  <a>Profile</a>
  <menu>
  <menuitem><a class="essential" href="/read/essential">Essential nutrients</a></menuitem>
  <menuitem><a class="ketogenic" href="/read/ketogenic">Ketogenic diet</a></menuitem>
  </menu>
</li>
<li><a class="statistics" href="/math/statistics">Statistics</a></li>
