<!DOCTYPE html>
<html class="{{ page.class }}">
<head>{% include head.html %}</head>


<body>
<!-- NAVBAR -->
<nav>
<label>
<input type="checkbox">
  <header>{% include header.html %}</header>
  <ul>{% include navmenu.html %}</ul>
</label>
</nav>


<!-- MAIN -->
<main>
<section>
{{ content }}
</section>
</main>


<!-- FOOTER -->
<footer style="display: none;">
{% if page.class contains "ketogenic" %}
{% include footer-ketogenic.html %}
<br><hr style="margin: 0 0 2rem 0;">
{% endif %}
{% include footer.html %}
</footer>
</body>
</html>
