<!DOCTYPE html>
<html class="index">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bare-css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
<link rel="shortcut icon" href="https://i.imgur.com/HREdLU9.png">
<link rel="stylesheet" href="/index.css">
<title>{{ page.title }}</title>
</head>


<body>
<!-- navbar (chaos free) -->
<nav>
<label>
<input type="checkbox">
  <header>
    <a href="/"><img src="https://i.imgur.com/HREdLU9.png">{{ page.title }}</a>
  </header>
  <ul>
    <li><a href="/food/ketogenic">Ketogenic diet</a></li>
    <li><a href="/food/essential">Essential nutrients</a></li>
    <li>
      <a>App</a>
      <menu>
      <menuitem><a href="https://www.amazon.com/Merferry-Food-Additive/dp/B07C5YH29Q/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1525076655&sr=1-1&keywords=food+additive">Alexa</a></menuitem>
      <menuitem><a href="https://www.amazon.in/Merferry-Food-Additive/dp/B07C5YH29Q/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1525076655&sr=1-1&keywords=food+additive">Alexa (IN)</a></menuitem>
      <menuitem><a href="https://assistant.google.com/services/a/uid/000000410534806d?hl=en-GB">Google</a></menuitem>
      <menuitem><a href="https://merferry.slack.com/apps/AA6BDEZ6F-food-additive?page=1">Slack</a></menuitem>
      </menu>
    </li>
    </ul>
</label>
</nav>


<main>
{{ content }}
</main>


<footer>
<grid>
<div col="1/2">
  <a href="#">Advertising</a>
  <a href="#">Business</a>
  <a href="#">About</a>
</div>
<div col="1/2" txt="r">
  <a href="#">Terms</a>
  <a href="#">Privacy</a>
  <a href="#">Settings</a>
</div>
</grid>
</footer>
<script src="/index.js"></script>
</body>
</html>
